services:

  api:
    build: ./api
    container_name: contas_api
    networks:
      - traefik    
    user: "528640079:528600513"
    env_file:
      - .env
    environment:
      - LOG_LEVEL=info
      - DATA_DIR=/data
      - S3_ENDPOINT=http://minio:9000
      - S3_ACCESS_KEY=admin
      - S3_SECRET_KEY=senha123
      - S3_BUCKET=uploads
    volumes:
      - ./data:/data
    labels:
      - "traefik.enable=true"
      # Router HTTPS
      - "traefik.http.routers.contas_api.rule=Host(`${URL}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.contas_api.entrypoints=websecure"
      - "traefik.http.routers.contas_api.tls=true"

      # Porta interna do Dashy
      - "traefik.http.services.contas_api.loadbalancer.server.port=8000"

  web:
    build: ./web
    container_name: contas_web
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
    labels:
      - "traefik.enable=true"
      # Router HTTPS
      - "traefik.http.routers.contas_web.rule=Host(`${URL}`)"
      - "traefik.http.routers.contas_web.entrypoints=websecure"
      - "traefik.http.routers.contas_web.tls=true"

      # Porta interna do Dashy
      - "traefik.http.services.contas_web.loadbalancer.server.port=5000"
    networks:
      - traefik
    env_file:
      - .env

  minio:
    image: minio/minio
    container_name: contas_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: xxxx
      MINIO_ROOT_PASSWORD: xxxx
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./minio:/data
    networks:
      - traefik


networks:
  traefik:
    external: true